@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&display=swap");
@keyframes titulo {
  0% {
    filter: none;
  }
  25% {
    filter: drop-shadow(8px 8px 4px #f6a318);
  }
  50% {
    filter: none;
  }
  75% {
    filter: drop-shadow(8px 8px 4px #f6a318);
  }
  100% {
    filter: none;
  }
}
* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Merriweather Sans", sans-serif;
}

.header {
  width: 100%;
  min-height: 60px;
  position: fixed;
  top: 0px;
  z-index: 2;
  border-bottom: 4px solid orange;
}
.header .container {
  padding-left: 2rem;
}
.header .container img {
  height: 50px;
}
.header .navbar-collapse {
  justify-content: flex-end;
}
.header .navbar-collapse .nav-item {
  list-style: none;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}
.header .navbar-collapse .nav-item:hover {
  -webkit-text-decoration: underline orange 2px;
          text-decoration: underline orange 2px;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #575758;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.footer div {
  border: solid 3px #1E3050;
  border-radius: 50%;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer div i {
  font-size: 1.5rem;
  color: #1E3050;
}

.main {
  padding-top: 80px;
}
.main .main__div--h1 {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.main .main__div--h1 .tituloPrincipal {
  position: absolute;
  z-index: 1;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  animation: titulo 3s;
}
.main .main__div--h1 .video {
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.main .main__div--h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.main .main__div--h2 h2 {
  background-color: rgba(128, 128, 128, 0.5);
  padding: 1rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: white;
}
.main .campamento {
  background-image: url("../resources/images/campamentoRecortado.JPG");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main .piletas {
  background-image: url("../resources/images/campamentoPileta.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main .panoramica {
  background-image: url("../resources/images/retroPileta.JPG");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main .main__div--div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main__div--div div {
  width: 50%;
  overflow: -moz-hidden-unscrollable;
}
.main .main__div--div div h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  padding: 1rem;
  margin: 0rem;
  text-align: center;
}
.main .main__div--div div p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
  padding: 0.8rem;
}
.main .main__div--div div img {
  width: 100%;
}
.main .main__div--div .estadisticas {
  width: 25%;
  min-height: 15rem;
  border: #9a9999 1px solid;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main .main__div--div .estadisticas h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 3rem;
}
.main .main__div--div .estadisticas p {
  font-size: 1.5rem;
}

.main .main-quienesSomos__div--principalSomos {
  width: 100%;
  height: 400px;
  background-image: url("/resources/images/piletas.JPG");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main .main-quienesSomos__div--principalSomos h2 {
  background-color: rgba(255, 255, 255, 0.574);
  font-family: "Work Sans", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  width: 55%;
  padding-left: 7%;
  padding-top: 2%;
  padding-bottom: 3%;
}
.main .main-quienesSomos__div--principalSomos h2 span {
  background-color: #f6a318;
}
.main .main-quienesSomos__section--fotoSubtitulo {
  padding: 4rem;
  padding-left: 15%;
  padding-right: 15%;
  background-image: url("/resources/images/empleados.JPG");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /*hace que la imagen sea fija mientras corro el scroll de la pagina*/
  filter: grayscale(10%);
}
.main .main-quienesSomos__section--fotoSubtitulo h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin: auto;
  color: white;
}
.main .main-quienesSomos__section--fotoSubtitulo h2 span {
  color: #f6a318;
  background-color: #9a9999;
}
.main .main-quienesSomos__section--contenido {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1rem;
}
.main .main-quienesSomos__section--contenido .main-quienesSomos__div h2 {
  color: #f6a318;
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0rem;
}
.main .main-quienesSomos__section--contenido .main-quienesSomos__div h3 {
  color: #f6a318;
  font-family: "Work Sans", sans-serif;
  font-size: 1.8rem;
  margin-top: 2rem;
}
.main .main-quienesSomos__section--contenido .main-quienesSomos__div .lineaSubtitulo {
  width: 5%;
  color: #f6a318;
  background-color: #f6a318;
  border: none;
  height: 0.5rem;
  margin: 0rem;
}
.main .main-quienesSomos__section--contenido .main-quienesSomos__div p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.main .main-quienesSomos__section--contenido .main-quienesSomos__div .fases {
  display: flex;
  justify-content: space-around;
}
.main .main-quienesSomos__section--contenido .main-quienesSomos__div .fases .fase {
  width: 34%;
}
.main .main-quienesSomos__section--contenido .main-quienesSomos__div .fases .fase .linea {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.main .main-quienesSomos__section--contenido .main-quienesSomos__div .fases .fase .linea .circulo {
  width: 1rem;
  height: 1rem;
  border: 2px solid #f6a318;
  border-radius: 50%;
}
.main .main-quienesSomos__section--contenido .main-quienesSomos__div .fases .fase .linea .hrNaranja {
  width: 100%;
  background-color: #f6a318;
  border: none;
  height: 5px;
}
.main .main-quienesSomos__section--contenido .main-quienesSomos__div .fases .fase h4 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
}
.main .main-quienesSomos__section--contenido .main-quienesSomos__div .fases .fase p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
}
.main .main-quienesSomos__section--contenido .main-quienesSomos__div .fases .fase ul {
  padding: 0.5rem;
}
.main .main-quienesSomos__section--contenido .main-quienesSomos__div .fases .fase ul li {
  list-style: none;
}
.main .main-quienesSomos__div--impacto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.main .main-quienesSomos__div--impacto img {
  width: 19%;
}
.main .main-quienesSomos__div--impacto div {
  width: 79%;
  padding: 1rem;
}
.main .main-quienesSomos__div--impacto div h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  font-size: 1.8rem;
  color: #f6a318;
}
.main .main-quienesSomos__div--impacto div p {
  font-size: 1.2rem;
}

.main .main-litio__section1 {
  background-image: url("/resources/images/piletasPanoramica.JPG");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 350px;
  text-align: center;
}
.main .main-litio__section1 h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.825);
  width: 100%;
  padding: 1rem;
}
.main .main-litio__section2 {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.main .main-litio__section2 h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  color: #f6a318;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 0px;
}
.main .main-litio__section2 hr {
  width: 5%;
  margin: 0px;
  background-color: #f6a318;
  border: none;
  height: 0.5rem;
}
.main .main-litio__section2 p {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.main .main-litio__section2 .main-litio__div {
  height: 20rem;
  display: flex;
  gap: 0.2rem;
}
.main .main-litio__section2 .main-litio__div div {
  flex: 2;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}
.main .main-litio__section2 .main-litio__div div:hover {
  flex: 3;
}
.main .main-litio__section2 iframe {
  width: 60%;
  height: 250px;
  margin-top: 3rem;
}

.main .main__div {
  width: 100%;
}
.main .imagen {
  background-image: url("../resources/images/paisaje.JPG");
  background-size: cover;
  background-position: center;
  height: 300px;
}
.main .principal {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #9a9999;
}
.main .principal .titulo {
  padding-right: 1rem;
}
.main .principal .titulo h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  margin: 0px;
}
.main .principal .titulo h2 span {
  font-weight: 700;
}
.main .principal .parrafo {
  padding-left: 1rem;
  border-left: solid 0.6rem #f6a318;
}
.main .principal .parrafo p {
  font-size: 2rem;
}
.main .main__section {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 2rem;
}
.main .main__section h2 {
  color: #f6a318;
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  margin-bottom: 0rem;
  margin-top: 2rem;
}
.main .main__section hr {
  width: 5%;
  background-color: #f6a318;
  border: none;
  height: 0.5rem;
  margin: 0rem;
}
.main .main__section .subtitulo p {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}
.main .main__section .subtitulo hr {
  height: 0.1rem;
  color: black;
  background-color: black;
  width: auto;
  margin-bottom: 1rem;
}
.main .main__section .ejes {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.main .main__section .ejes div {
  width: 33%;
  text-align: center;
}
.main .main__section .ejes div img {
  width: 150px;
}
.main .main__section .ejes div p {
  font-size: 1rem;
  padding: 1rem;
  margin: 0rem;
}
.main .main__section .ejes div p span {
  font-weight: 700;
}

.main .main__section--contacto {
  padding-left: 10%;
  padding-right: 10%;
}
.main .main__section--contacto h2 {
  color: #f6a318;
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0rem;
}
.main .main__section--contacto hr {
  width: 5%;
  height: 0.5rem;
  border: none;
  background-color: #f6a318;
  margin: 0rem;
}
.main .main__section--contacto p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.main .main__section--contacto form .datos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}
.main .main__section--contacto form .datos input {
  width: 49%;
  margin-bottom: 1rem;
  border: none;
  border-bottom: solid 0.1rem #9a9999;
}
.main .main__section--contacto form .mensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 1rem;
}
.main .main__section--contacto form .mensaje textarea {
  width: 100%;
  border: solid 0.1rem #9a9999;
}
.main .main__section--contacto form .boton {
  text-align: center;
  margin: 1.5rem;
}/*# sourceMappingURL=main.css.map */