.footer {
    width: 100%;
    height: 50px;
    background-color: $grisOscuro;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;

    div {
        border: solid 3px #1E3050;
        border-radius: 50%;
        margin: 1rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            font-size: 1.5rem;
            color: #1E3050;
        }
    }
}