@font-face {
    font-family: "Work Sans Regular";
    src: url("../resources/fonts/WorkSans-Regular.ttf");
}

@font-face {
    font-family: "Work Sans Black";
    src: url("../resources/fonts/WorkSans-Black.ttf");
}

@font-face {
    font-family: "Work Sans Bold";
    src: url("../resources/fonts/WorkSans-Bold.ttf");
}

@font-face {
    font-family: "Work Sans Light";
    src: url("../resources/fonts/WorkSans-Light.ttf");
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    /* background-color: #575758; */
    font-family: Work Sans Regular;
}

/* ------------------------------------ Head ---------------------------- */
/*MOBILE*/
.head {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1000;
    border-bottom: 2px solid orange;
    background-color: white;
}

.menu {
    padding-right: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: large;
    width: 85%;
    height: 100%;
}

.menu nav ul {
    padding: 0%;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.menu nav ul li {
    display: inline-block;
    height: 100%;
}

.menu nav ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    /*Le quita la linea de abajo a los elementos a*/
    color: black;
    font-family: "Work Sans Bold";
    margin: 2px;
    font-size: 7px;
}

.menu nav ul li a:hover {
    text-decoration: underline orange 1px;
}

.icono {
    width: 15%;
    height: 100%;
    padding-left: 3%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.icono img {
    height: 80%;
}


/*LAPTOP*/
@media (min-width: 769px) {

    .head {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        /*Lo centra segun el eje X*/
        align-items: center;
        /*lo cnetra segun el eje Y*/
        position: fixed;
        top: 0px;
        z-index: 1000;
        border-bottom: 2px solid orange;
        background-color: white;
    }

    .menu {
        padding-right: 2%;
        display: flex;
        justify-content: right;
        align-items: center;
        font-size: large;
        width: 70%;
        height: 100%;
    }

    .menu nav ul li {
        display: inline-block;
        height: 100%;
    }

    .menu nav ul li a {
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
        /*Le quita la linea de abajo a los elementos a*/
        color: black;
        font-family: "Work Sans Bold";
        margin: 8px;
        font-size: 20px;
    }

    .menu nav ul li a:hover {
        text-decoration: underline orange 3px;
    }


    .icono {
        width: 30%;
        height: 100%;
        padding-left: 3%;
        padding-top: 2px;
        padding-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .icono img {
        height: 80%;
    }

}

/* -------------------------------------- Footer ----------------------------------- */
/*MOBILE*/
.footer {
    width: 100%;
    height: 50px;
    background-color: #575758;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: #f6a318 solid 2px;
}

.iconoPiePagina {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconoPiePagina img {
    height: 20px;
    filter: grayscale(100%);
}

.iconoPiePagina img:hover {
    filter: none;
}

.piePagina {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redesSociales {
    margin: 5px;
}

.redesSociales img {
    height: 8px;
}

.redesSociales img:hover {
    filter: none;
}

/*LAPTOP*/
@media (min-width: 769px) {

    .footer {
        width: 100%;
        height: 100px;
        background-color: #575758;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: #f6a318 solid 2px;
    }

    .iconoPiePagina {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .iconoPiePagina img {
        height: 60px;
        filter: grayscale(100%);
    }

    .iconoPiePagina img:hover {
        filter: none;
    }

    .piePagina {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .redesSociales {
        margin: 10px;
    }

    .redesSociales img {
        height: 30px;
        /* filter: grayscale(100%); */
        /*Coloca un filtro a un elemento. En este caso una escala de grises.*/
    }
}



/*--------------------------- Index - Main ----------------------*/
/*MOBILE*/
.contenedorInicial {
    width: 100%;
    height: 150px;
}

.contenedorVideo {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 30px;
    overflow: hidden;
}

.tituloPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloPrincipal h1 {
    position: absolute;
    z-index: 1;
    font-family: "Work Sans Bold";
    font-size: 30px;
    padding-top: 35%;
}

.video {
    min-width: 100%;
    min-height: 100%;
    /* width: 100%; */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/**/
.contenedorTitulo1 {
    height: 75px;
    width: 100%;
    position: relative;
    background-image: url("../resources/images/campamentoRecortado.JPG");
    background-position: center center;
    /*Centra la imagen en el eje x y en el y*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titulo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo h1 {
    width: 75%;
    height: 40%;
    font-family: "Work Sans Bold";
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(128, 128, 128, 0.47);
}

.contenedor {
    width: 100%;
    height: 120px;
    position: relative;
    background-color: white;
}

.articulos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articulos div {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.articulos div img {
    height: 100%;
}

.textoSubtitulo {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textoSubtitulo h2 {
    font-family: "Work Sans Bold";
    font-size: 11px;
    margin: 2px;
}

.textoSubtitulo p {
    font-family: "Work Sans Regular";
    font-size: 7px;
    margin: 1px;
}

/**/
.contenedorTitulo2 {
    height: 75px;
    width: 100%;
    position: relative;
    background-image: url("../resources/images/campamentoPileta.jpg");
    background-position: center center;
    /*Centra la imagen en el eje x y en el y*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.estadisticas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valores {
    width: 50%;
    height: 100%;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.valores h2 {
    font-family: "Work Sans Bold";
    font-size: 18px;
    color: #575758;
    margin-bottom: 25px;
}

.valores p {
    font-family: "Work Sans Regular";
    font-size: 8px;
    text-align: center;
    margin: 0%;
}

/**/
.contenedorTitulo3 {
    height: 75px;
    width: 100%;
    position: relative;
    background-image: url("../resources/images/retroPileta.JPG");
    background-position: center center;
    /*Centra la imagen en el eje x y en el y*/
    background-size: cover;
    /*Hace que la imagen se acomode si hacerle zoom*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*LAPTOP*/
@media (min-width: 769px) {
    .contenedorInicial {
        width: 100%;
        height: 600px;
    }

    .contenedorVideo {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 70px;
        overflow: hidden;
    }

    .tituloPrincipal {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .tituloPrincipal h1 {
        position: absolute;
        z-index: 1;
        font-family: "Work Sans Bold";
        font-size: 100px;
        padding-top: 25%;
    }

    .video {
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .contenedorTitulo1 {
        height: 150px;
        width: 100%;
        position: relative;
        background-image: url("../resources/images/campamentoRecortado.JPG");
        background-position: center center;
        /*Centra la imagen en el eje x y en el y*/
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .titulo {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titulo h1 {
        width: 50%;
        height: 40%;
        font-family: "Work Sans Bold";
        font-size: 50px;
        text-align: center;
        color: white;
        background-color: rgba(128, 128, 128, 0.47);
    }

    .contenedor {
        width: 100%;
        height: 350px;
        position: relative;
        background-color: white;
    }

    .articulos {
        width: 100%;
        height: 100%;
        /* display: inline-block; */
        display: flex;
        /* flex-direction: column; */
        /*Para que los elementos se coloquen uno arriba del otro y no uno al lado del otro.*/
        justify-content: center;
        align-items: center;
    }

    .articulos div {
        width: 50%;
        height: 100%;
        overflow: hidden;
    }

    .articulos div img {
        width: 100%;
    }

    .textoSubtitulo {
        padding: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .textoSubtitulo h2 {
        font-family: "Work Sans Bold";
        font-size: 40px;
    }

    .textoSubtitulo p {
        font-family: "Work Sans Regular";
        font-size: 20px;
    }

    .contenedorTitulo2 {
        height: 150px;
        width: 100%;
        background-image: url("../resources/images/campamentoPileta.jpg");
        background-position: center center;
        /*Centra la imagen en el eje x y en el y*/
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .estadisticas {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .valores {
        width: 50%;
        height: 100%;
        border: 1px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .valores h2 {
        font-family: "Work Sans Bold";
        font-size: 55px;
        color: #575758;
    }

    .valores p {
        font-family: "Work Sans Regular";
        font-size: 25px;
        text-align: center;
    }

    .contenedorTitulo3 {
        height: 150px;
        width: 100%;
        background-image: url("../resources/images/retroPileta.JPG");
        background-position: center center;
        /*Centra la imagen en el eje x y en el y*/
        background-size: cover;
        /*Hace que la imagen se acomode si hacerle zoom*/
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

}


/*--------------------------- Quienes Somos - Main ----------------------*/
/*MOBILE*/
.contenedorSomos1 {
    width: 100%;
    height: 100%;
    padding-top: 3%;
    background-image: url("../resources/images/piletas.JPG");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: inherit;
}

.contenedorSomos1 h2 {
    background-color: rgba(255, 255, 255, 0.574);
    font-size: 20px;
    width: 70%;
    padding-left: 7%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.contenedorSomos1 h2 span {
    background-color: #f6a318;
}

/**/
.contenedorSomos2 {
    width: 90%;
    height: 480px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    background-color: white;
}

.contenedorSomos2Texto {
    width: 100%;
    height: 28%;
}

.contenedorSomos2Texto h2 {
    font-size: 17px;
    color: #f6a318;
}

.contenedorSomos2Texto hr {
    width: 5%;
    background-color: #f6a318;
    border: none;
    height: 3px;
}

.contenedorSomos2Texto p {
    font-size: 9px;
}

.contenedorSomos2Fases {
    width: 100%;
    height: 72%;
}

.tituloFases h2 {
    font-size: 17px;
    color: #f6a318;
}

.contenedorFases {
    display: flex;
    justify-content: space-around;
}

.fase {
    width: 34%;
    height: 100%;
}

.faseNumero {
    font-size: 15px;
    color: #f6a318;
}

.fase p {
    padding-bottom: 10px;
    font-size: 8px;
}

.fase hr {
    color: #9a9999;
}

.fase ul li {
    list-style: none;
    padding-top: 10px;
}

.circulo {
    width: 8px;
    height: 8px;
    border: 2px solid #f6a318;
    border-radius: 50%;
}

.linea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.linea hr {
    width: 100%;
    background-color: #f6a318;
    border: none;
    height: 2px;
}

.faseDetalle {
    padding-right: 7px;
}

.faseDetalle h2 {
    font-family: "Work Sans Light";
    font-size: 12px;
}

.faseDetalle ul li p span {
    font-family: "Work Sans Bold";
}

.fotoSomos {
    height: 100%;
    background-image: url("../resources/images/empleados.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*hace que la imagen sea fija mientras corro el scroll de la pagina*/
    filter: grayscale(10%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotoSomos h2 {
    width: 80%;
    color: white;
    font-size: 20px;
}

.fotoSomos h2 span {
    color: #f6a318;
    font-family: "Work Sans Bold";
}

.contenedorSomos3 {
    width: 90%;
    height: 500px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    background-color: white;
}

.contenedorSomos3Texto {
    width: 100%;
    height: 25%;
}

.contenedorSomos3Texto h2 {
    font-size: 17px;
    color: #f6a318;
}

.contenedorSomos3Texto hr {
    width: 7%;
    background-color: #f6a318;
    border: none;
    height: 5px;
}

.contenedorSomos3Texto p {
    font-size: 9px;
}

.contenedorSomosImpacto {
    height: 75%;
}

.impacto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    height: 31%;
}

.impacto img {
    width: 30px;
}

.impactoIcono {
    width: 15%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}

.impactoTexto {
    width: 84%;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 1%;
    background-color: rgb(245, 245, 245);
}

.impactoTexto h3 {
    color: #f6a318;
    font-family: "Work Sans Light";
    font-size: 15px;
    margin-top: 10px;
}

.impactoTexto p {
    margin-top: 5px;
    font-size: 9px;
}

/*LAPTOP*/
@media (min-width: 769px) {
    .contenedorSomos1 {
        width: 100%;
        height: 100%;
        padding-top: 2%;
        background-image: url("../resources/images/piletas.JPG");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: inherit;
    }

    .contenedorSomos1 h2 {
        background-color: rgba(255, 255, 255, 0.574);
        font-size: 60px;
        width: 50%;
        padding-left: 7%;
        padding-top: 2%;
        padding-bottom: 3%;
    }

    .contenedorSomos1 h2 span {
        background-color: #f6a318;
    }

    .contenedorSomos2 {
        width: 80%;
        height: 900px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        background-color: white;
    }

    .contenedorSomos2Texto {
        width: 100%;
        height: 35%;
    }

    .contenedorSomos2Texto h2 {
        font-size: 40px;
        color: #f6a318;
    }

    .contenedorSomos2Texto hr {
        width: 5%;
        background-color: #f6a318;
        border: none;
        height: 10px;
    }

    .contenedorSomos2Texto p {
        font-size: 25px;
    }

    .contenedorSomos2Fases {
        width: 100%;
        height: 65%;
    }

    .tituloFases h2 {
        font-size: 25px;
        color: #f6a318;
    }

    .contenedorFases {
        display: flex;
        justify-content: space-around;
    }

    .fase {
        width: 34%;
        height: 100%;
    }

    .faseNumero {
        font-size: 25px;
        color: #f6a318;
    }

    .fase p {
        padding-bottom: 10px;
        font-size: 20px;
    }

    .fase hr {
        color: #9a9999;
    }

    .fase ul li {
        list-style: none;
        padding-top: 10px;
    }

    .circulo {
        width: 13px;
        height: 13px;
        border: 2px solid #f6a318;
        border-radius: 50%;
    }

    .linea {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .linea hr {
        width: 100%;
        background-color: #f6a318;
        border: none;
        height: 3px;
    }

    .faseDetalle {
        padding-right: 70px;
    }

    .faseDetalle h2 {
        font-family: "Work Sans Light";
    }

    .faseDetalle ul li p span {
        font-family: "Work Sans Bold";
    }

    .fotoSomos {
        height: 100%;
        background-image: url("../resources/images/empleados.JPG");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        /*hace que la imagen sea fija mientras corro el scroll de la pagina*/
        filter: grayscale(10%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fotoSomos h2 {
        width: 60%;
        color: white;
        font-size: 50px;
    }

    .fotoSomos h2 span {
        color: #f6a318;
        font-family: "Work Sans Bold";
    }

    .contenedorSomos3 {
        width: 80%;
        height: 1000px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        background-color: white;
    }

    .contenedorSomos3Texto {
        width: 100%;
        height: 30%;
    }

    .contenedorSomos3Texto h2 {
        font-size: 40px;
        color: #f6a318;
    }

    .contenedorSomos3Texto hr {
        width: 5%;
        background-color: #f6a318;
        border: none;
        height: 10px;
    }

    .contenedorSomos3Texto p {
        font-size: 25px;
    }

    .contenedorSomosImpacto {
        height: 70%;
    }

    .impacto {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1%;
        height: 31%;
    }

    .impacto img {
        width: 100px;
    }

    .impactoIcono {
        width: 15%;
        height: 100%;
        background-color: rgb(245, 245, 245);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .impactoTexto {
        width: 84%;
        height: 100%;
        padding-left: 2%;
        padding-right: 2%;
        margin-left: 1%;
        background-color: rgb(245, 245, 245);
    }

    .impactoTexto h3 {
        color: #f6a318;
        font-family: "Work Sans Light";
        font-size: 30px;
    }

    .impactoTexto p {
        font-size: 20px;
    }

}


/*--------------------------- Litio - Main ----------------------*/
/*MOBILE*/
.contenedorLitioTitulo {
    background-image: url("../resources/images/piletasPanoramica.JPG");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.contenedorLitioTitulo h2 {
    font-size: 20px;
    height: 25%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.825);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorLitio {
    width: 90%;
    height: 700px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(233, 233, 233);
    /*Color Gris*/
}

.litioTexto {
    height: 27%;
}

.litioTexto h2 {
    font-size: 17px;
    color: #f6a318;
}

.litioTexto hr {
    width: 5%;
    background-color: #f6a318;
    border: none;
    height: 5px;
}

.litioTexto p {
    font-size: 9px;
    margin-top: 9px;
}

.litioImagenes {
    height: 40%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.litioImagenes div {
    height: 33.333333%;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.litioImagenes div:hover {
    height: 100%;
}

.retro {
    background-image: url("../resources/images/retro.JPG");
}

.litio {
    background-image: url("../resources/images/litio.jpg");
}

.filtroPrensa {
    background-image: url("../resources/images/empleadoFiltro.JPG");
}

.definicionLitio {
    height: 38%;
    width: 100%;
    padding-top: 5%;
}

.definicionLitio h2 {
    font-size: 17px;
    color: #f6a318;
}

.definicionLitio hr {
    width: 5%;
    background-color: #f6a318;
    border: none;
    height: 5px;
}

.videoLitio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 175px;
}

/*LAPTOP*/
@media (min-width: 769px) {
    .contenedorLitioTitulo {
        background-image: url("../resources/images/piletasPanoramica.JPG");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        display: flex;
        align-items: end;
        justify-content: center;
    }

    .contenedorLitioTitulo h2 {
        font-size: 70px;
        height: 20%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.825);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contenedorLitio {
        width: 80%;
        height: 1400px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: rgb(233, 233, 233);
        /*Color Gris*/
    }

    .litioTexto {
        height: 35%;
    }

    .litioTexto h2 {
        font-size: 40px;
        color: #f6a318;
    }

    .litioTexto hr {
        width: 5%;
        background-color: #f6a318;
        border: none;
        height: 10px;
    }

    .litioTexto p {
        font-size: 30px;
    }

    .litioImagenes {
        height: 25%;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    .litioImagenes div {
        height: 100%;
        width: 33.3333333333%;
        background-size: cover;
        background-position: center center;
    }

    .litioImagenes div:hover {
        width: 100%;
        position: relative;
    }

    .retro {
        background-image: url("../resources/images/retro.JPG");
    }

    .litio {
        background-image: url("../resources/images/litio.jpg");
    }

    .filtroPrensa {
        background-image: url("../resources/images/empleadoFiltro.JPG");
    }

    .definicionLitio {
        height: 40%;
        width: 100%;
        padding-top: 5%;
    }

    .definicionLitio h2 {
        font-size: 40px;
        color: #f6a318;
    }

    .definicionLitio hr {
        width: 5%;
        background-color: #f6a318;
        border: none;
        height: 10px;
    }

    .videoLitio {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 700px;
        height: 350px;
    }
}



/*--------------------------- Sustentabilidad - Main ----------------------*/
/*MOBILE*/
.contenedorSustImg {
    height: 100%;
    background-image: url("../resources/images/paisaje.JPG");
    background-size: cover;
    background-position: center;
}

.contenedorSust1 {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 233);
}

.tiutloSustTitulo {
    width: 40%;
    height: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-right: #f6a318 solid 5px;
}
.tiutloSustTitulo h2 {
    font-size: 17px;
    width: 88%;
    padding-left: 10%;
    padding-right: 2%;
    
}

.tiutloSustTitulo h2 span {
    font-family: "Work Sans Bold";
}

.tiutloSustParrafo {
    width: 60%;
    height: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.tiutloSustParrafo p {
    font-size: 9px;
    padding-left: 5%;
    padding-right: 10%;
    line-height: 1.5;
}

.contenedorSustCuerpo {
    height: 670;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    background-color: white;
}
.cuerpoTitulo {
    height: 40px;
}

.cuerpoTitulo h2 {
    font-size: 17px;
    color: #f6a318;
}

.cuerpoTitulo hr {
    width: 5%;
    background-color: #f6a318;
    border: none;
    height: 5px;
}

.cuerpoSubtiutlo {
    height: 30px;
}

.cuerpoSubtiutlo p {
    font-family: "Work Sans Light";
    font-size: 12px;
    margin-bottom: 4px;
}

.cuerpoContenido {
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.contenidoSust {
    height: 98%;
    width: 32.5%;
}

.contenidoSust div img {
    height: 100%;
}

.iconoSustSalud {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    background-color: rgb(223, 223, 223);
}

.iconoSustEducacion {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    background-color: rgb(245, 245, 245);
}

.iconoSustEmpleo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    background-color: rgb(171, 171, 171);
}

.textoSust {
    height: 70%;
    padding: 5%;
}

.textoSust p span {
    font-family: "Work Sans Bold";
    font-size: 9px;
}

.textoSust p {
    font-size: 9px;
    margin-top: 9px;
}

/*LAPTOP*/
@media (min-width: 769px) {
    .contenedorSustImg {
        height: 100%;
        background-image: url("../resources/images/paisaje.JPG");
        background-size: cover;
        background-position: center;
    }

    .contenedorSust1 {
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(233, 233, 233);
    }

    .tiutloSustTitulo {
        width: 40%;
        height: 80%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .tiutloSustTitulo h2 {
        font-size: 60px;
        width: 60%;
        padding-left: 30%;
        padding-right: 2%;
        border-right: #f6a318 solid 5px;
    }

    .tiutloSustTitulo h2 span {
        font-family: "Work Sans Bold";
    }

    .tiutloSustParrafo {
        width: 60%;
        height: 80%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .tiutloSustParrafo p {
        font-size: 30px;
        padding-left: 5%;
        padding-right: 20%;
        padding-top: 3%;
        line-height: 1.5;
    }

    .contenedorSustCuerpo {
        height: 1350px;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 3%;
        background-color: white;
    }

    .cuerpoTitulo {
        height: 120px;
    }

    .cuerpoTitulo h2 {
        font-size: 40px;
        color: #f6a318;
    }

    .cuerpoTitulo hr {
        width: 4%;
        background-color: #f6a318;
        border: none;
        height: 10px;
    }

    .cuerpoSubtiutlo {
        height: 60px;
    }

    .cuerpoSubtiutlo p {
        font-family: "Work Sans Light";
        font-size: 30px;
    }

    .cuerpoContenido {
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .contenidoSust {
        height: 90%;
        width: 32.5%;
    }

    .contenidoSust div img {
        height: 100%;
    }

    .iconoSustSalud {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40%;
        background-color: rgb(223, 223, 223);
    }

    .iconoSustEducacion {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40%;
        background-color: rgb(245, 245, 245);
    }

    .iconoSustEmpleo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40%;
        background-color: rgb(171, 171, 171);
    }

    .textoSust {
        height: 50%;
        padding: 5%;
    }

    .textoSust p span {
        font-family: "Work Sans Bold";
        font-size: 20px;
    }

    .textoSust p {
        font-size: 18px;
    }
}


/*--------------------------- Contacto - Main ----------------------*/
/*MOBILE*/
.contenedorContacto {
    height: 400px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    background-color: white;
    margin-top: 30px;
}

.tituloContacto {
    height: 40px;
}

.tituloContacto h2 {
    font-size: 20px;
    color: #f6a318;
}

.tituloContacto hr {
    width: 5%;
    background-color: #f6a318;
    border: none;
    height: 5px;
}

.parrafoContacto {
    height: 10%;
    font-size: 12px;
}

.formulario {
    height: 75%;
    margin-top: 2%;
}

form {
    height: 100%;
}

.datos {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.datos input {
    width: 45%;
    height: 40%;
    font-size: 10px;
    border: none;
    border-bottom: #9a9999 solid 2px;
    padding-left: 1%;
}

.mensaje {
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

.mensaje textarea {
    height: 100%;
    width: 98%;
    border: #9a9999 solid 2px;
    resize: none;
    /* Evita que se le pueda cambiar el tamaño*/
    font-size: 120%;
    padding: 1%;
}

.boton {
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.boton input {
    width: 30%;
    height: 70%;
    font-size: 10px;
    font-family: "Work Sans Bold";
    background-color: #cecece;
    border: none;
}

.boton input:hover {
    background-color: #f6a318;
    color: white;
    width: 35%;
    height: 75%;
}

/*LAPTOP*/
@media (min-width: 769px) {
    .contenedorContacto {
        height: 900px;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        background-color: white;
        margin-top: 70px;
    }
    
    .tituloContacto {
        height: 100px;
    }
    
    .tituloContacto h2 {
        font-size: 40px;
        color: #f6a318;
    }
    
    .tituloContacto hr {
        width: 4%;
        background-color: #f6a318;
        border: none;
        height: 10px;
    }
    
    .parrafoContacto {
        height: 5%;
        font-size: 30px;
    }
    
    .formulario {
        height: 80%;
        margin-top: 2%;
    }
    
    form {
        height: 100%;
    }
    
    .datos {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .datos input {
        width: 45%;
        height: 40%;
        font-size: 100%;
        border: none;
        border-bottom: #9a9999 solid 2px;
        padding-left: 1%;
    }
    
    .mensaje {
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .mensaje textarea {
        height: 100%;
        width: 98%;
        border: #9a9999 solid 2px;
        resize: none;
        /* Evita que se le pueda cambiar el tamaño*/
        font-size: 120%;
        padding: 1%;
    }
    
    .boton {
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5%;
    }
    
    .boton input {
        width: 20%;
        height: 40%;
        font-size: 150%;
        font-family: "Work Sans Bold";
        background-color: #cecece;
        border: none;
    }
    
    .boton input:hover {
        background-color: #f6a318;
        color: white;
        width: 25%;
        height: 45%;
    }
}
